<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cromo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <cromo.Properties.Settings>
            <setting name="centroOperacion" serializeAs="String">
                <value>MED</value>
            </setting>
            <setting name="servidorBaseDatos" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="usuarioBaseDatos" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="claveBaseDatos" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="baseDatos" serializeAs="String">
                <value>bd</value>
            </setting>
            <setting name="ciudadOrigen" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="puertoBaseDatos" serializeAs="String">
                <value>3306</value>
            </setting>
        </cromo.Properties.Settings>
    </userSettings>
</configuration>